<!DOCTYPE html>
<html lang="en">
<head>
                    <meta charset="UTF-8">
                    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    <title>Parallax-Effect</title>
                    <link rel="stylesheet" href="styles.css">
                    <!-- isline ka means is html document ka relation css file sae stylesheet naam ka h and uska link styles.css h -->
                    <link rel="icon" href="favicon.ico" type="image/x-icon">
                    <!-- isline ka means is html document ka relation  file sae icon hae or wo file png file h, and uska link favicon.ico h
                     type iska option h dena -->

                    <!-- type="image/x-icon"/no need of this attribute by the way -->
</head>
<body>

                    <div class="wrapper"> <!--wrapper is best practice-->
                                        <div class="container"><!--is wale container ke jgaah header b use kr sktaa thaa mae-->

                                        <!-- <img src="background.png" id="background" alt="error"> -->
                                        <img src="backgroundnew.png" id="background" alt="error">
                                        <!-- <img src="bgnew.jpg" id="background" alt="error"> -->
                                        <img src="foreground.png" id="foreground" alt="error">
                                        <h1 id="hh">ADVENTURE</h1>                                        
                     
                                    </div>


                                        <!-- /*PROFFING SOMETHING @X0XSTART*/ -->
                                        <!-- <img src="sport-1.jpg" alt="" height="100px" width="200px" align="left" > -->
                                        <!-- ..agr img tag inline hae still agr next element block hae wo new line mae aayega by default bcoz of next element -->
                                        
                                        <!-- checked that does after inline if i add again not block than it comes to same line answer is yes hence proofed -->
                                        <!-- <img src="sport-1.jpg" alt="" height="100px" width="200px"  > -->
                                        <!-- <a href="www.h.com">kush</a> -->
                                        <!-- /*PROFFING SOMETHING @X0Xend*/ -->
                                                             

                                        <!-- /mai div be le skta hu -->
                                        <section> <!--section mai ku kraa to make code redable and to apply css atonce if not used for all same property than i can remove this also bcoz koe frk ne padega bs seo optimisation mae help krega-->
                                                            <!-- point1 heading or parag nzrrr aara h by looking parallax original websiyte bxoz dekh kr bnara hu image ke kya bnana hae next-->
                                                            <h2 class="secheading">ADVENTURE-TIME</h2>
                                                            <p class="text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius, dolores? Provident libero consequatur rem pariatur voluptatum reiciendis officiis laborum! Laboriosam at eligendi, tempora omnis architecto nihil magni facilis ullam odit!
                                                            Autem blanditiis voluptatem ab, possimus provident cum aspernatur iure quas iste recusandae commodi deserunt tempore repellat? Animi amet distinctio fugiat saepe, doloremque fugit, rem natus minima itaque voluptas, beatae voluptatum.
                                                            At necessitatibus quae dolore modi veniam, qui odio provident expedita adipisci, enim dignissimos a, consectetur ducimus quod. Soluta sequi, autem eligendi in blanditiis cumque obcaecati saepe officiis accusamus temporibus! Asperiores!
                                                            <br><br><br><br>
                                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi esse doloribus corporis maxime vero.
                                                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque similique cum, repellat, fugiat ratione voluptatum necessitatibus a optio sed quia explicabo distinctio, suscipit soluta quaerat molestiae quam cupiditate velit sit.
                                                            Nemo perferendis cum dolore inventore ratione facilis ad laboriosam est sequi recusandae harum repellendus dolor fuga mollitia reprehenderit, necessitatibus porro, et voluptate rem! Corporis vitae quam reprehenderit aperiam earum adipisci.
                                                            </p>
                                                         
                                                            
                                                            
                                                            <!--point2 uskae baad image fixed + heading and paragrpah -->
                                                            <!-- i used div bcoz i want alg sa container not inside section outside -->



                                                           
                                                            <div class="bg bg1" > <!--do class ku de btauga abi aagae bcoz muje image add krna thaa taki sports1 iskae saath aayae means is div biking kae exact piche esaee he same sbkae leeyae hojayega nichae-->                                     
                                                                                <h2 class="description">BIKING</h2>                    
                                                            </div>
                                                            <!-- paragraph alg rkha bcoz h2 mae alg sae box mae bnana chahta tha and paragrpah alg sae -->
                                                            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi esse doloribus corporis maxime vero.
                                                                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque similique cum, repellat, fugiat ratione voluptatum necessitatibus a optio sed quia explicabo distinctio, suscipit soluta quaerat molestiae quam cupiditate velit sit.
                                                                                Nemo perferendis cum dolore inventore ratione facilis ad laboriosam est sequi recusandae harum repellendus dolor fuga mollitia reprehenderit, necessitatibus porro, et voluptate rem! Corporis vitae quam reprehenderit aperiam earum adipisci.
                                                            </p>
                                                            


                                                                 <!-- //so point 2.B -->
                                                                 <div class="bg bg2 "> <!--do class ku de btauga abi aagae-->                                     
                                                                                <h2 class="description">SURFING</h2>                    
                                                            </div>
                                                            <!-- paragraph alg rkha bcoz h2 mae alg sae box mae bnana chahta tha and paragrpah alg sae -->
                                                            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi esse doloribus corporis maxime vero.
                                                                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque similique cum, repellat, fugiat ratione voluptatum necessitatibus a optio sed quia explicabo distinctio, suscipit soluta quaerat molestiae quam cupiditate velit sit.
                                                                                Nemo perferendis cum dolore inventore ratione facilis ad laboriosam est sequi recusandae harum repellendus dolor fuga mollitia reprehenderit, necessitatibus porro, et voluptate rem! Corporis vitae quam reprehenderit aperiam earum adipisci.
                                                            </p>


                                                                 <!-- //so point 2.C -->
                                                                 <div class="bg bg3 "> <!--do class ku de btauga abi aagae-->                                     
                                                                                <h2 class="description">PARA-GLIDING</h2>                    
                                                            </div>
                                                            <!-- paragraph alg rkha bcoz h2 mae alg sae box mae bnana chahta tha and paragrpah alg sae -->
                                                            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi esse doloribus corporis maxime vero.
                                                                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque similique cum, repellat, fugiat ratione voluptatum necessitatibus a optio sed quia explicabo distinctio, suscipit soluta quaerat molestiae quam cupiditate velit sit.
                                                                                Nemo perferendis cum dolore inventore ratione facilis ad laboriosam est sequi recusandae 
                                                                                harum repellendus dolor fuga mollitia reprehenderit, necessitatibus porro, et voluptate rem! Corporis vitae quam reprehenderit aperiam earum adipisci.
                                                                               
                                                            </p>
                                                            
                                                            
                                                            </section>


                    </div>
       
                    


</body>
</html>


<!-- sir ne bola position mae hit and trial kro maixmum time hit and trial kro
 sb ptaa chl jayega by the way muje ptaa chlgya sb -->